
/*Header*/
/* navigation */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    top: 0;
    width: 100%;
}

#nav li a {
    float: right;
    border-right: 1px solid #white;
}


#nav li a:last-child {
    border-right: none;
}

#nav li a {
    display: block;;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover:not(.active) {
    background-color: #6E6D6D;
}

#nav .active {
background-color: #C61313;
}

/*Background Image*/
/*https://unsplash.com/search/photos/computer?photo=Hon8H9dvTBM. (access on: -/-/-)*/
body {
  background-image: url(../../Assessment/img/Background/backround.jpg);
  max-width: 100%;
  height: auto;
  }


/*Creates the footer*/
body {
  padding-bottom: 150px;
}

/*Footer*/
footer {
  background: #;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer li a {
  float: left;
}

#footer li img{
  width: 150px;
  height: 100px;
}

/*Change the icon size of the footer and header when changing page size*/
@media (max-width:700px) {
header p{
  display: none;
}
header a{
  font-size: 3.2em;
}
}
