body {margin:0;}
/* webpage style*/
p{ line-height: 1em; }
h1 {
    color: white;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h2 {
    color: white;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1{ font-size: 2em; }
h2{ font-size: 1.4em; }
a{
	color: white;
	text-decoration: none;
}
b {
  color: white;
	text-decoration: none;
}

/*Content*/
main{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Bio Intro*/


main h1{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
text-align: center;
padding-top: 1.5em;
padding-bottom: 1em;
margin-top: 2em;
border-radius: 10px;
font-family: 'PT Mono', monospace;
font-size: 2.5em;
background-color: #333;
box-shadow: 10px 10px 5px black;
}

/*Background Information*/
main a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em:auto;
  margin-left: 10%;
margin-right: 10%;
padding: 4em;
  background-color: #333;
    border-radius: 10px;
  box-shadow: 10px 10px 5px black;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem

}

/*Fun Facts*/
main ul {
  display: flex;
  justify-content: space-around;
  list-style-type: circle;
  align-items: center;
  color: white;
  flex-direction: column;
  margin: 2em:auto;
  margin-left: 10%;
margin-right: 10%;
padding: 4em;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 10px 10px 5px black;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem
}

/*Images*/
.images{
  display: flex;
  flex-wrap: wrap;
margin-left: 15%;
margin-right: 15%;
margin-top: 2%;
margin-bottom: 2%;
}

.images li{
display:flex;
width: 100%;
justify-content: space-around;
}

.image-layout {
   display: flex;
   flex-direction: column;
   padding: 1em;
}


.images li img{
  border-radius: 10px;
  width:20em;
  height:20em;
position:static;
}
