body {margin:0;}
/* webpage styles*/

p{ line-height: 1em; }
h1, h2, {
    color: white;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 2em; }
h2{ font-size: 1.4em; }
a{
	color: white;
	text-decoration: none;
}


/* content */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

/*Welcome Message*/
main ul{
	background: #333;
	padding: 30px;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}

main h1 {
  font-family: 'PT Mono', monospace;
font-size: 3em;
}

main h2 {
  font-family: 'Exo', sans-serif;
font-size: 1em;
}

main li {
  color: white
}

/*Profile Pitcure*/
main img{
float: right;
justify-content: flex-start;
align-items: center;
flex direction: right;
}

main img{
  width: 25em;
  height:70%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
