html, body {
  font-family: sans-serif;
}

form {
  border: solid black 1px;
  padding: 1em;
  width: 40%;
  min-width: 15em;
  max-width: 26.5em;
}

.form-title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 0.5em;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

textarea {
  resize: none;
}

.option-list {
  display: inline-block;
}
